/* Custom Font Declaration */
@font-face {
  font-family: 'Train One';
  src: url('/project/font/TrainOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akaya Kanadaka';
  src: url('/project/font/AkayaKanadaka-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

main {
  display: block!important;
}

h1 {
  font-family: 'Train One', cursive;
  text-align: center;
  margin: 20px auto;
}

.questions-heading {
  font-family: 'Train One', cursive;
  margin-bottom: 10px;
}

.quiz-wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.question {
  font-family: 'Akaya Kanadaka', cursive;
  padding: 20px;
  margin-bottom: 20px;
  background: #FFF;
  color: #B53737;
  border-radius: 10px;
  text-align: center;
}

div#test {
  border: #0A1172 3px solid;
  padding: 40px;
  background-color: #199EE1;
}

.email-section {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  margin: 20px auto;
}

.information {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 10px;
}

.checkbox {
  grid-row: 2;
  grid-column: 1;
  margin: 4px auto;
  min-height: 20px;
  height: 20px;
  width: 20px;
}

.email-input {
  grid-row: 2;
  grid-column: 2;
  width: 90%;
  height: 20px;
  margin: auto;
  margin-bottom: 10px;
  outline: none;
}

.submit-email-button {
  grid-row: 3;
  grid-column: 1/3;
  margin: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .quiz-wrapper {
    max-width: 95%;
  }
}